@import '../../../styles/variables';

.stats {
    &-section {
        background-color: $white;
        padding: 5rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 7rem;
        font-weight: 500;
        color: $black;
    }

    &-wrapper {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 2.5rem;
        max-width: 1200px;
        width: 100%;

        .stat {
            &-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                width: 160px;
                min-height: 200px;

                .stat {
                    &-icon {
                        width: 150px;
                        height: 150px;
                        border: 2px solid $black;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $black;
                        margin-bottom: 1rem;

                        svg {
                            width: 45px;
                            height: 45px;
                        }
                    }

                    &-label {
                        font-size: 1rem;
                        color: $black;
                        font-weight: 500;
                        margin-bottom: auto;
                    }
                }

                @media (max-width: 768px) {
                    &-title {
                        font-size: 1.5rem;
                        margin-bottom: 3rem;
                    }
                    .stat-item {
                        width: 45%;
                    }
                }

                @media (max-width: 480px) {
                    .stat-item {
                        width: 100%;
                    }
                }
            }
        }
    }
}
