$navbar-bg-color: #BBD4FB;
$text-color: #000;
$color-hamburger: #333;
$white: #FFF;
$black: #000;
$points-bg: #56B58D;
$points-subtexts: #444;
$border-line: #DBDBDB;


$dashboard-bg: #DCE5F1;
$dashboard-border-line: #CCC;

$font-family-base: 'Montserrat', Arial, sans-serif;
