@import 'variables';

.layout-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.layout-layout > :first-child {
  width: 250px;

  @media (max-width: 1023px) {
    width: 180px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background:
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
    url('../assets/images/pattern/pattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.layout-content {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.layout-feed {
  flex: 2;
  padding: 2rem 5rem;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 117, 250, 0.3) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 119, 182, 0.4);
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 119, 182, 0.6);
  }

  @media (max-width: 1023px) {
    padding: 1rem;
  }

  @media (max-width: 768px) {
    padding: 1rem 1rem 3rem 1rem;
  }
}

.layout-info {
  width: 300px;
  border-left: 1px solid #eee;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 119, 182, 0.4) transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 119, 182, 0.4);
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 119, 182, 0.6);
  }

  @media (max-width: 1023px) {
    width: 220px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
