@import '../../../styles/variables';

.main-section {
  position: relative;
  height: calc(100vh - 56px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  &-content {
    position: relative;
    z-index: 1;
    width: 100%;
    color: #FFF;
    padding: 1rem;

    h1, h2 {
      font-weight: 500;
      margin: 0 0 2rem 0;
    }

    h1 {
      font-size: 2.4rem;
    }

    h2 {
      font-size: 1.2rem;
      margin-bottom: 3rem;
    }

    button {
      padding: .5rem 2rem;
      font-size: 1.1rem;
      background-color: $navbar-bg-color;
      border: 2px solid $black;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        opacity: .8;
        transition: .5s;
      }
    }
  }

  @media (max-width: 992px) {
    &-content {
      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: 1rem;
      }

      button {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 576px) {
    &-content {
      h1 {
        font-size: 1.4rem;
      }

      h2 {
        font-size: .9rem;
      }

      button {
        font-size: .9rem;
      }
    }
  }
}

