@import '../../../styles/variables';

.sidebar-mobile {
  display: none;
  background-color: $dashboard-bg;
  border-top: 1px solid $dashboard-border-line;
  height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 1.5rem;
      cursor: pointer;
      user-select: none;

      a {
        text-decoration: none;
        color: inherit;
        display: block;
      }

      &:hover a {
        opacity: 0.8;
      }
    }
  }

  @media (max-width: 768px) {
    display: block;
  }
}
