@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import 'styles/variables';

html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family-base;
}